* {
  padding: 0px;
  margin: 0px;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
}

.main-menu {
  background-color: #e6e2ff;
}

.serach-box {
  font-family: "Raleway", sans-serif;
  right: 40px;
  position: absolute;
  top: 60px;
  width: 200px;
  height: 40px;
}

.account {
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}

.account-section ul {
  display: flex;
  text-align: right;
  text-decoration: underline;
  justify-content: flex-end;
}

.account-section li {
  margin: 10px;
  list-style: none;
}

.itmes {
  display: flex;
  color: black;
}
nav ul {
  font-family: "Raleway", sans-serif;
  display: flex;
}
nav ul li {
  display: flex;
  margin: 50px;
  text-decoration: underline;
}

img {
  float: left;
  width: 170px;
  height: 97px;
  padding-left: 20px;
  margin-top: 15px;
}

main {
  grid-area: main;
  background-color: white;
  height: 950px;
}

.Bestsellers__jackets {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.firsth2 {
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
  margin-top: 20px;
}

.Rainjacket0 {
  display: flex;
  width: 160px;
  height: 160px;
}

.underline1 {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid gray;
  position: absolute;
  margin-left: 25px;
  margin-top: 140px;
}
.info0 {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  position: absolute;
  margin-top: 200px;
}
.p1 {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  position: absolute;
  margin-top: 220px;
}

.Rainjacket1 {
  display: flex;
  width: 160px;
  height: 160px;
}

.Underline2 {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid gray;
  position: absolute;
  margin-left: 25px;
  margin-top: 140px;
}

.info1 {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  position: absolute;
  margin-top: 200px;
}
.p2 {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  position: absolute;
  margin-top: 220px;
}

.Rainjacket2 {
  display: flex;
  width: 160px;
  height: 160px;
}
.Underline3 {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid gray;
  position: absolute;
  margin-left: 25px;
  margin-top: 140px;
}
.info2 {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  position: absolute;
  margin-top: 200px;
}

.p3 {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  position: absolute;
  margin-top: 220px;
}

.Rainjacket3 {
  display: flex;
  width: 160px;
  height: 160px;
}
.Underline4 {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid gray;
  position: absolute;
  margin-left: -10px;
  margin-top: -80px;
}
.info3 {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  position: absolute;
  margin-top: 200px;
}
.p4 {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  position: absolute;
  margin-top: 220px;
}

.New--items {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  left: -47px;
}

.New_itmes {
  font-family: "Raleway", sans-serif;
  margin-top: 170px;
  text-decoration: underline;
}

.New--items {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.Newitmes1photo {
  display: flex;
  width: 160px;
  height: 160px;
  margin-left: 90px;
}

.underline_1 {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid gray;
  position: absolute;
  margin-left: 120px;
  margin-top: 140px;
}
.info_name1 {
  font-family: "Raleway", sans-serif;
  margin-left: 135px;
  position: absolute;
  margin-top: 200px;
}

.p_1 {
  font-family: "Raleway", sans-serif;
  margin-left: 135px;
  position: absolute;
  margin-top: 230px;
}

.Newitmes2photo {
  display: flex;
  width: 160px;
  height: 160px;
  margin-left: 90px;
}

.underline_2 {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid gray;
  position: absolute;
  margin-left: 120px;
  margin-top: 140px;
}
.info_name2 {
  font-family: "Raleway", sans-serif;
  margin-left: 135px;
  position: absolute;
  margin-top: 200px;
}
.p_2 {
  font-family: "Raleway", sans-serif;
  margin-left: 135px;
  position: absolute;
  margin-top: 230px;
}
.Newitmes3photo {
  display: flex;
  width: 160px;
  height: 160px;
  margin-left: 90px;
}

.underline_3 {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid gray;
  position: absolute;
  margin-left: 120px;
  margin-top: 140px;
}
.info_name3 {
  font-family: "Raleway", sans-serif;
  margin-left: 135px;
  position: absolute;
  margin-top: 200px;
}

.p_3 {
  font-family: "Raleway", sans-serif;
  margin-left: 135px;
  position: absolute;
  margin-top: 230px;
}
.Newitmes4photo {
  display: flex;
  width: 160px;
  height: 160px;
  margin-left: 90px;
}
.underline_4 {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid gray;
  position: absolute;
  margin-left: 120px;
  margin-top: 140px;
}

.info_name4 {
  font-family: "Raleway", sans-serif;
  margin-left: 135px;
  position: absolute;
  margin-top: 200px;
}

.p_4 {
  font-family: "Raleway", sans-serif;
  margin-left: 135px;
  position: absolute;
  margin-top: 230px;
}

.line {
  order: none;
  height: 2px;
  background: gray;
  margin-top: -70px;
}

footer {
  display: flex;
  grid-area: footer;
  background-color: white;
  height: 60px;
}

.list-1 {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

.list-2 {
  font-family: "Raleway", sans-serif;
  margin-top: -2px;
  margin-left: 110px;
  padding-top: -450px;
}

.list-3 {
  font-family: "Raleway", sans-serif;
  margin-top: -2px;
  margin-left: 110px;
  padding-top: -180px;
}

.list-4 {
  font-family: "Raleway", sans-serif;
  margin-top: -2px;
  margin-left: 110px;
  padding-top: -400px;
}
.fa-cc-visa {
  border-radius: 80%;
  padding: 5px;
  background-color: gray;
}
.fa-cc-mastercard {
  border-radius: 80%;
  padding: 5px;
  background-color: gray;
}
.fa-cc-paypal {
  border-radius: 80%;
  padding: 5px;
  background-color: gray;
}
.list-5 {
  font-family: "Raleway", sans-serif;
  margin-top: -10px;
  margin-left: 100px;
  padding-top: -180px;
}
.fa-facebook-square {
  border-radius: 80%;
  padding: 5px;
  background-color: gray;
}
.fa-instagram {
  border-radius: 80%;
  padding: 5px;
  background-color: gray;
}
.fa-twitter {
  border-radius: 80%;
  padding: 5px;
  background-color: gray;
}
